@model IEnumerable<OfficeLeaveCore.Dto.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Breadcrumbs-->
<div class="d-flex align-items-center justify-content-between mb-3">
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Users</li>
      </ol>
    </div>

    <a class="btn btn-primary shadow" asp-action="Create">Create new user</a>
</div>
<!--End: Breadcrumbs-->

<partial name="_AlertPartial"/>

<!-- Data display-->
<div class="card shadow">
    <div class="card-header bg-white">
        <h6 class="card-title">Users(@Model.Count())</h6>
    </div>

    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(m=>m.FullName)</th>
                        <th scope="col">@Html.DisplayNameFor(m=>m.Email)</th>
                          <th scope="col">@Html.DisplayNameFor(m=>m.Roles)</th>
                        <th scope="col" style="width:50px"></th>
                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    @{
                        if(Model  ==  null)
                        {
                            <tr>
                                <td colspan="6" class="text-danger text-center">Results not found or empty</td>
                            </tr>
                        }
                        else
                        {
                            foreach(var item in Model)
                            {
                                <tr class="align-middle">
                                    <td>@item.FullName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Roles</td>
                                    <td>
                                        <div class="dropdown actions-dropdown">
                                          <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                           <i class="bi bi-chevron-down  fs-4"></i>
                                          </button>
                                          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-macos">
                                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">View</a></li>
                                            <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                            <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#assignUserModal" onclick="getUserRoles('@item.Id','@item.Roles')">Assign</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#deleteUserModal" onclick="setUserId('@item.Id')">Delete</a></li>
                                          </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--Modals-->
<div id="assignUserModal" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title">Assign User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>

                   <div class="modal-body">
                       <div class="col-md mb-3">
                           <label class="form-label">Roles</label>
                           <input id="currentRoles" class="form-control" readonly/>
                       </div>

                       <div class="col-md mb-3">
                           <label class="form-label">Roles</label>
                           <select id="roles" class="form-select" multiple size="5">
                               @{
                                   if(ViewBag.Roles.Count > 0)
                                   {
                                        foreach(var role in ViewBag.Roles)
                                        {
                                            <option class="border-bottom p-2" value="@role">@role</option>
                                        }
                                   }
                               }
                           </select>
                       </div>
                   </div>         

                   <div class="modal-footer border-top-0">
                       <button type="button" class="btn btn-outline-danger w-25 shadow-sm" data-bs-dismiss="modal">Cancel</button>
                       <button type="button" class="btn btn-primary w-25 shadow-sm" onclick="assignUser()">Confirm</button>
                   </div>         
             </div>          
         </div>
</div>

<div id="deleteUserModal" class="modal fade" tabindex="-1">
      <form asp-action="Delete" method="post">
          <div class="modal-dialog">
              <div class="modal-content">
                   <div class="modal-body">
                       <div class="d-flex justify-content-end">
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>         
                       <div class="container text-center">
                            <span class="bi bi-exclamation-triangle-fill text-danger h1"></span>
                            <h5 class="fw-bold mb-1">Are you sure you want to delete current user?</h5>
                            <p class="text-black-50 fs-6">This process cannot be undone.</p>
                       </div>
                   </div>         

                   <div class="modal-footer border-top-0">
                       <button type="button" class="btn btn-outline-danger w-25 shadow-sm" data-bs-dismiss="modal">Cancel</button>
                       <button type="button" class="btn btn-primary w-25 shadow-sm" onclick="deleteUser()">Confirm</button>
                   </div>         
             </div>          
         </div>
     </form>
</div>
<!--End Modals-->

